table th ,td{
    border: 1px solid black;
    text-align: center;
  }
  table th{
    padding: 10px 12px;
    background-color: #B3B4B3;
  }
  table td{
    padding: 10px 12px;
  background-color: white;
  }
  .form-data{
    font-size: 15px;
  }
.toster{
  animation-name: errorEle;
  position: relative;
  animation-duration: 2s;
}
  @keyframes errorEle {
    0%{
      width: 0%;
      left: 0;
    }
    25%{
      width: 25%;
      left: 25px;
    }
    50%{
      width: 50%;
      left: 50px;
    }
    75%{
      width: 75%;
      left: 75px;
    }
    100%{
      width: 100%;
      left: 0px;
    }
  }
  @media (max-width: 1000px) {
    table th ,td{
      border: 1px solid black;
      text-align: center;
      font-size: 8px;
    }
    table td{
      padding: 10px 0px;
    background-color: white;
    }
    }

  @media (max-width: 640px) {
    table th{
      padding: 5px 1px;
      text-align: center;
      font-size: 4px;
    
    }
    
    table td{
      padding: 5px 2px;
      font-size: 5px;
      text-align: center;

    }
    }